<!DOCTYPE html>
<html>
  <head>
    <title>LifeShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    
    <script type="text/javascript">
        window.othersplashURL = "<%= image_url('croppedimage1.png') %>";
        window.splashURL = "<%=image_url('image2.png')%>";
        window.exploreURL = "<%= image_url('explore.png')%>";
        window.logoURL = "<%= image_url('logo.png')%>";
        window.profileURL = "<%= image_url('profile.png')%>";
        window.uploadURL = "<%=image_url('addpic.png')%>";
        window.puppyURL = "<%=image_url('puppy.png')%>";
        window.gridURL = "<%=image_url('grid-icon.png')%>";
        window.uploadimageURL = "<%= image_url('uploadimage.png')%>";
        window.defaultPicURL = "<%= image_url('defaultPic.png')%>";
        window.constructionURL = "<%= image_url('webconstruction.png')%>"
    </script>
    <%= favicon_link_tag asset_path('logo.png') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
